.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu h1 {
  font-weight: 500;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  text-align: center;
  margin: 20px 10px;
  overflow-x: scroll;
  background-color: orange;
  border-radius: 20px;
}

.menu-list::-webkit-scrollbar {
  display: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
