html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 70px;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 17px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid red;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon1 {
  position: relative;
  font-size: 24px;
}

.icon2 {
  font-size: 24px;
}

.icon1 .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: orange;
  border-radius: 50%;
  top: -8px;
  right: -8px;
}

.loginButton {
  padding: 12px 30px;
  margin: 12px 12px;
  border-radius: 30px;
  border: none;
  background-color: rgb(218, 229, 239);
  font-family: "Open Sans", sans-serif;
}

.signupButton {
  padding: 12px 30px;
  margin: 12px 12px;
  border-radius: 30px;
  border: none;
  background-color: rgb(218, 229, 239);
  font-family: "Open Sans", sans-serif;
}
