.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.loginContainer {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
  font-size: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs input {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: orange;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d78808;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #d78808;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
